/* OPTIONAL - INCLUDE CSS FROM JS PLUGIN AS NECESSARY */
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}
.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select2-container .select2-search--inline {
  float: left;
}
.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}
.select2-results {
  display: block;
}
.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}
.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
}
.select2-results__option[aria-selected] {
  cursor: pointer;
}
.select2-container--open .select2-dropdown {
  left: 0;
}
.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-search--dropdown {
  display: block;
  padding: 4px;
}
.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.select2-search--dropdown.select2-search--hide {
  display: none;
}
.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}
.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}
.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}
.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}
.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}
.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}
.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}
.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}
.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}
.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}
.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}
.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}
.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}
.select2-container--classic .select2-dropdown--below {
  border-top: none;
}
.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}
.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white;
}
.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}
/**
 * Description: NGC Forms
 * Version: 1.0.2
 * Last update: 1 Nov 2018
 * Author: Egar Astawiguna <egar@nukegraphic.com>
 *
 * 
 */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c8c8c8;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #c8c8c8;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #c8c8c8;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #c8c8c8;
}
input:disabled,
textarea:disabled,
input[readonly],
textarea[readonly],
input[readonly="readonly"],
textarea[readonly="readonly"] {
  cursor: not-allowed;
  color: rgba(79, 78, 78, 0.75);
}
input.error,
textarea.error {
  border-color: #f00;
}
.select-style.error {
  border-color: #f00 !important;
}
/* FORMS */
.form-group {
  margin-bottom: 16px;
  position: relative;
  width: 100%;
}
.form-group > label {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  display: block;
  color: #343642;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 1.5em;
}
.form-group input[type=file] {
  font-size: 14px;
  color: #4f4e4e;
}
.form-group input[type=text],
.form-group input[type=email],
.form-group input[type=password],
.form-group input[type=number],
.form-group input[type=tel],
.form-group input[type=date],
.form-group input[type=time],
.form-group input[type=datetime],
.form-group input[type=datetime-local],
.form-group input[type=url],
.form-group input[type=week],
.form-group input[type=month],
.form-group input[type=search],
.form-group textarea {
  width: 100%;
  height: 48px;
  color: #4f4e4e;
  padding-left: 22px;
  padding-right: 22px;
  border: 2px solid #d7d7d7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.form-group input[type=text]:hover,
.form-group input[type=email]:hover,
.form-group input[type=password]:hover,
.form-group input[type=number]:hover,
.form-group input[type=tel]:hover,
.form-group input[type=date]:hover,
.form-group input[type=time]:hover,
.form-group input[type=datetime]:hover,
.form-group input[type=datetime-local]:hover,
.form-group input[type=url]:hover,
.form-group input[type=week]:hover,
.form-group input[type=month]:hover,
.form-group input[type=search]:hover,
.form-group textarea:hover,
.form-group input[type=text]:focus,
.form-group input[type=email]:focus,
.form-group input[type=password]:focus,
.form-group input[type=number]:focus,
.form-group input[type=tel]:focus,
.form-group input[type=date]:focus,
.form-group input[type=time]:focus,
.form-group input[type=datetime]:focus,
.form-group input[type=datetime-local]:focus,
.form-group input[type=url]:focus,
.form-group input[type=week]:focus,
.form-group input[type=month]:focus,
.form-group input[type=search]:focus,
.form-group textarea:focus {
  border-color: #49aea8;
}
.form-group input[type=text]:disabled,
.form-group input[type=email]:disabled,
.form-group input[type=password]:disabled,
.form-group input[type=number]:disabled,
.form-group input[type=tel]:disabled,
.form-group input[type=date]:disabled,
.form-group input[type=time]:disabled,
.form-group input[type=datetime]:disabled,
.form-group input[type=datetime-local]:disabled,
.form-group input[type=url]:disabled,
.form-group input[type=week]:disabled,
.form-group input[type=month]:disabled,
.form-group input[type=search]:disabled,
.form-group textarea:disabled,
.form-group input[type=text][readonly],
.form-group input[type=email][readonly],
.form-group input[type=password][readonly],
.form-group input[type=number][readonly],
.form-group input[type=tel][readonly],
.form-group input[type=date][readonly],
.form-group input[type=time][readonly],
.form-group input[type=datetime][readonly],
.form-group input[type=datetime-local][readonly],
.form-group input[type=url][readonly],
.form-group input[type=week][readonly],
.form-group input[type=month][readonly],
.form-group input[type=search][readonly],
.form-group textarea[readonly],
.form-group input[type=text][readonly="readonly"],
.form-group input[type=email][readonly="readonly"],
.form-group input[type=password][readonly="readonly"],
.form-group input[type=number][readonly="readonly"],
.form-group input[type=tel][readonly="readonly"],
.form-group input[type=date][readonly="readonly"],
.form-group input[type=time][readonly="readonly"],
.form-group input[type=datetime][readonly="readonly"],
.form-group input[type=datetime-local][readonly="readonly"],
.form-group input[type=url][readonly="readonly"],
.form-group input[type=week][readonly="readonly"],
.form-group input[type=month][readonly="readonly"],
.form-group input[type=search][readonly="readonly"],
.form-group textarea[readonly="readonly"] {
  cursor: not-allowed;
  background-color: #efefef;
  border-color: #d7d7d7;
  color: rgba(79, 78, 78, 0.75);
}
.form-group input[type=text]:disabled:hover,
.form-group input[type=email]:disabled:hover,
.form-group input[type=password]:disabled:hover,
.form-group input[type=number]:disabled:hover,
.form-group input[type=tel]:disabled:hover,
.form-group input[type=date]:disabled:hover,
.form-group input[type=time]:disabled:hover,
.form-group input[type=datetime]:disabled:hover,
.form-group input[type=datetime-local]:disabled:hover,
.form-group input[type=url]:disabled:hover,
.form-group input[type=week]:disabled:hover,
.form-group input[type=month]:disabled:hover,
.form-group input[type=search]:disabled:hover,
.form-group textarea:disabled:hover,
.form-group input[type=text][readonly]:hover,
.form-group input[type=email][readonly]:hover,
.form-group input[type=password][readonly]:hover,
.form-group input[type=number][readonly]:hover,
.form-group input[type=tel][readonly]:hover,
.form-group input[type=date][readonly]:hover,
.form-group input[type=time][readonly]:hover,
.form-group input[type=datetime][readonly]:hover,
.form-group input[type=datetime-local][readonly]:hover,
.form-group input[type=url][readonly]:hover,
.form-group input[type=week][readonly]:hover,
.form-group input[type=month][readonly]:hover,
.form-group input[type=search][readonly]:hover,
.form-group textarea[readonly]:hover,
.form-group input[type=text][readonly="readonly"]:hover,
.form-group input[type=email][readonly="readonly"]:hover,
.form-group input[type=password][readonly="readonly"]:hover,
.form-group input[type=number][readonly="readonly"]:hover,
.form-group input[type=tel][readonly="readonly"]:hover,
.form-group input[type=date][readonly="readonly"]:hover,
.form-group input[type=time][readonly="readonly"]:hover,
.form-group input[type=datetime][readonly="readonly"]:hover,
.form-group input[type=datetime-local][readonly="readonly"]:hover,
.form-group input[type=url][readonly="readonly"]:hover,
.form-group input[type=week][readonly="readonly"]:hover,
.form-group input[type=month][readonly="readonly"]:hover,
.form-group input[type=search][readonly="readonly"]:hover,
.form-group textarea[readonly="readonly"]:hover {
  border-color: inherit;
}
.form-group input[type=text].error,
.form-group input[type=email].error,
.form-group input[type=password].error,
.form-group input[type=number].error,
.form-group input[type=tel].error,
.form-group input[type=date].error,
.form-group input[type=time].error,
.form-group input[type=datetime].error,
.form-group input[type=datetime-local].error,
.form-group input[type=url].error,
.form-group input[type=week].error,
.form-group input[type=month].error,
.form-group input[type=search].error,
.form-group textarea.error {
  border-color: #f00;
}
.form-group textarea {
  height: auto;
  line-height: 18px;
  padding-top: 13px;
  padding-bottom: 13px;
  resize: none;
  height: inherit;
  display: block;
}
.form-group select {
  max-width: 100%;
  font-size: 14px;
  height: 48px;
  border-color: #d7d7d7;
  cursor: pointer;
}
.form-group select[multiple] {
  height: auto;
  padding: 10px;
}
.form-group input:-internal-autofill-previewed,
.form-group textarea:-internal-autofill-previewed,
.form-group select:-internal-autofill-previewed,
.form-group input:-internal-autofill-selected,
.form-group textarea:-internal-autofill-selected,
.form-group select:-internal-autofill-selected,
.form-group input:-webkit-autofill,
.form-group textarea:-webkit-autofill,
.form-group select:-webkit-autofill,
.form-group input:-webkit-autofill:hover,
.form-group textarea:-webkit-autofill:hover,
.form-group select:-webkit-autofill:hover,
.form-group input:-webkit-autofill:focus,
.form-group textarea:-webkit-autofill:focus,
.form-group select:-webkit-autofill:focus {
  background-color: #fff !important;
  border-color: #d7d7d7 !important;
  color: #4f4e4e !important;
  animation: input_background_autofill 0s forwards;
}
@keyframes input_background_autofill {
  100% {
    background-color: transparent;
  }
}
.form-group .select-style {
  width: 100%;
  overflow: hidden;
  border: 2px solid #d7d7d7;
  position: relative;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.form-group .select-style:after {
  content: "\f107";
  /* "Three Line Menu Navicon" shows up */
  display: block;
  width: 50px;
  height: 16px;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  z-index: 1;
  line-height: 16px;
  font-size: 16px;
  text-align: center;
  color: #A4A4A4;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}
.form-group .select-style.no-icon:after {
  display: none;
}
.form-group .select-style select {
  height: 44px;
  max-width: inherit;
  padding: 0 100px 0 22px;
  width: calc(100% +  50px);
  -moz-appearance: none;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  position: relative;
  z-index: 2;
  color: #4f4e4e;
}
.form-group .select-style select[disabled=disabled] {
  background-color: #efefef;
  color: rgba(79, 78, 78, 0.75);
  cursor: not-allowed;
}
.form-group .select-style select[multiple] {
  width: 100%;
  height: auto;
  padding: 10px;
}
.form-group .select-style select[multiple] option {
  padding: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.form-group .select-style:hover {
  border-color: #49aea8;
}
.form-group .select-style-multiple:after {
  content: "";
}
.form-group .domain-input {
  display: table;
  position: relative;
  width: 100%;
}
.form-group .domain-input .domain-input-text,
.form-group .domain-input .signup-domain {
  display: table-cell;
  vertical-align: top;
  font-size: 14px;
}
.form-group .domain-input .domain-input-text.error {
  margin-bottom: 20px;
}
.form-group .domain-input .signup-domain {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
}
.form-group .domain-input .signup-domain .text {
  padding: 0 10px;
  display: block;
  line-height: 44px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #d7d7d7;
  background-color: #efefef;
}
.form-group .domain-input span.error {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-group .domain-input.prefix .signup-domain .text {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
  border-left: none;
}
.form-group .domain-input.prefix .domain-input-text {
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}
.form-group .domain-input.suffix .signup-domain .text {
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  border-right: none;
}
.form-group .domain-input.suffix .domain-input-text {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}
.form-group .has-icon {
  position: relative;
}
.form-group .has-icon input[type=text],
.form-group .has-icon input[type=email],
.form-group .has-icon input[type=password],
.form-group .has-icon input[type=number],
.form-group .has-icon input[type=tel],
.form-group .has-icon input[type=date],
.form-group .has-icon input[type=time],
.form-group .has-icon input[type=datetime],
.form-group .has-icon input[type=datetime-local],
.form-group .has-icon input[type=url],
.form-group .has-icon input[type=week],
.form-group .has-icon input[type=month],
.form-group .has-icon input[type=search],
.form-group .has-icon textarea,
.form-group .has-icon .select-style select {
  padding-right: 50px;
}
.form-group .has-icon .fa-wrapper {
  display: block;
  height: 48px;
  line-height: 48px;
  width: 50px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #a4a4a4;
}
.form-group .has-icon .fa-wrapper .icon {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.form-group .has-icon .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}
@media (min-width: 768px) {
  .form-group input[type=text],
  .form-group input[type=email],
  .form-group input[type=password],
  .form-group input[type=number],
  .form-group input[type=tel],
  .form-group input[type=date],
  .form-group input[type=time],
  .form-group input[type=datetime],
  .form-group input[type=datetime-local],
  .form-group input[type=url],
  .form-group input[type=week],
  .form-group input[type=month],
  .form-group input[type=search],
  .form-group textarea {
    padding-left: 22px;
    padding-right: 22px;
  }
  .form-group textarea {
    line-height: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .form-group .select-style:after {
    width: 50px;
  }
  .form-group .select-style select {
    padding: 0 100px 0 24px;
    width: calc(100% +  50px);
  }
}
@media (min-width: 1200px) {
  .form-group input[type=text],
  .form-group input[type=email],
  .form-group input[type=password],
  .form-group input[type=number],
  .form-group input[type=tel],
  .form-group input[type=date],
  .form-group input[type=time],
  .form-group input[type=datetime],
  .form-group input[type=datetime-local],
  .form-group input[type=url],
  .form-group input[type=week],
  .form-group input[type=month],
  .form-group input[type=search],
  .form-group textarea {
    font-size: 14px;
    padding-left: 22px;
    padding-right: 22px;
  }
  .form-group textarea {
    height: auto;
    line-height: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .form-group .select-style:after {
    width: 50px;
    font-size: 18px;
  }
  .form-group .select-style select {
    font-size: 14px;
    padding: 0 100px 0 24px;
    width: calc(100% +  50px);
  }
  .form-group .has-icon input[type=text],
  .form-group .has-icon input[type=email],
  .form-group .has-icon input[type=password],
  .form-group .has-icon input[type=number],
  .form-group .has-icon input[type=tel],
  .form-group .has-icon input[type=date],
  .form-group .has-icon input[type=time],
  .form-group .has-icon input[type=datetime],
  .form-group .has-icon input[type=datetime-local],
  .form-group .has-icon input[type=url],
  .form-group .has-icon input[type=week],
  .form-group .has-icon input[type=month],
  .form-group .has-icon input[type=search],
  .form-group .has-icon textarea,
  .form-group .has-icon .select-style select {
    padding-right: 50px;
  }
  .form-group .has-icon .select-style:after {
    display: none;
  }
  .form-group .has-icon .fa-wrapper {
    right: 0;
    width: 50px;
    line-height: 40px;
    font-size: 14px;
  }
  .form-group .ccheck + label,
  .form-group .cradio + label {
    font-size: 14px!important;
  }
}
span.error {
  display: block;
  color: #f00;
  padding-top: 5px;
  font-size: 12px;
  line-height: 1.2em;
  font-style: italic;
}
span.small-note {
  display: block;
  color: #888;
  padding-top: 7px;
  font-size: 12px;
  line-height: 1.2em;
}
.radiocheck-wrap {
  padding-bottom: 10px;
  padding-right: 15px;
  display: inline-block;
  margin-right: 15px;
}
.cradio,
.ccheck {
  display: none;
}
.cradio + label,
.ccheck + label {
  display: block;
  padding-top: 0!important;
  padding-left: 22px;
  font-size: 14px!important;
  line-height: 16px;
  color: #4f4e4e !important;
  font-weight: normal!important;
  position: relative;
  cursor: pointer;
}
.cradio + label:before,
.ccheck + label:before,
.cradio + label:after,
.ccheck + label:after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  display: block;
  color: #d7d7d7;
}
.cradio + label:before {
  content: "\f111";
}
.cradio + label:after {
  content: "\f00c";
  display: none;
  color: #343642;
}
.cradio:checked + label:before {
  content: "\f192";
  color: #343642;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}
.cradio:disabled + label:before {
  font-weight: 900;
}
.ccheck + label:before {
  content: "\f0c8";
}
.ccheck + label:after {
  content: "\f00c";
  display: none;
  color: #343642;
}
.ccheck:checked + label:before {
  content: "\f14a";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  color: #343642;
}
.ccheck:disabled + label:before {
  font-weight: 900;
}
.input-number-wrap {
  position: relative;
  max-width: 70px;
}
.input-number-wrap input[type=number] {
  position: relative;
  z-index: 0;
}
.input-number-wrap .minus-qty,
.input-number-wrap .add-qty {
  position: absolute;
  z-index: 1;
  right: 7px;
  width: 10px;
  height: 10px;
  border: none;
  text-indent: -9999em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 8px auto;
  background-position: center center;
}
.input-number-wrap .minus-qty input[type=button],
.input-number-wrap .add-qty input[type=button] {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: none;
  border: none;
  text-indent: -9999em;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}
.input-number-wrap .minus-qty:before,
.input-number-wrap .add-qty:before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  display: block;
  text-indent: 0;
  font-size: 12px;
}
.input-number-wrap .minus-qty:hover,
.input-number-wrap .add-qty:hover {
  background-color: #efefef;
}
.input-number-wrap .minus-qty {
  top: 50%;
}
.input-number-wrap .minus-qty:before {
  content: "\f0d7";
}
.input-number-wrap .add-qty {
  bottom: 50%;
}
.input-number-wrap .add-qty:before {
  content: "\f0d8";
}
.ui-datepicker {
  z-index: 3!important;
}
.datepicker-range-wrap .first-child {
  position: relative;
}
.datepicker-range-wrap .first-child:before {
  content: "";
  display: block;
  width: 6px;
  height: 1px;
  background-color: #4f4e4e;
  position: absolute;
  right: -3px;
  top: 50%;
}
.dropzone-intro {
  border: 1px dashed #ccc;
  padding: 25px 10px;
  text-align: center;
  color: #4f4e4e;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.dropzone-intro h3 {
  margin: 0;
  font-size: 14px;
  color: #c6c6c6;
}
.dropzone-intro h3 .icon {
  margin-right: 8px;
}
.dropzone-intro:hover {
  background: #eee;
  color: #999;
  border-color: #b2b2b2;
}
@media (min-width: 1200px) {
  .dropzone-intro {
    padding: 30px 20px;
  }
}
#pta-preview-template {
  display: none;
}
.pta-preview-child {
  position: relative;
  overflow: hidden;
}
.pta-preview-child img {
  float: left;
  width: 50px;
  display: block;
}
.pta-preview-child .pta-preview-content {
  margin-left: 60px;
  padding-right: 10px;
}
.pta-preview-child .pta-preview-content .pta-text-wrap {
  padding-bottom: 5px;
}
.pta-preview-child .pta-preview-content p {
  margin-top: 0;
  margin-bottom: 3px;
  line-height: 1.2em;
  font-size: 11px;
}
.pta-preview-child .pta-preview-content p.pta-preview-name {
  word-break: break-all;
}
.pta-preview-child .pta-preview-content p.pta-preview-size {
  color: #888;
}
.pta-preview-child .pta-preview-content .pta-remove {
  font-size: 8px;
  padding: 5px 10px;
}
.pta-preview-child .pta-preview-content .error {
  display: block;
  color: #f00;
  font-size: 11px;
  line-height: 1.2em;
}
/* IE 10 & 11 HACK */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-group .select-style select {
    width: 150%;
  }
}
/**
 * Description: NGC Forms for Select 2 JS
 * Version: 1.0.1
 * Last update: 14 Mar 2019
 * Author: Egar Astawiguna <egar@nukegraphic.com>
 *
 * 
 */
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single {
  height: 48px;
  border-color: #d7d7d7;
  border-width: 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 44px;
  padding-left: 22px;
  padding-right: 50px;
}
.select2-container .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  width: 50px;
}
.select2-container .select2-selection--single .select2-selection__arrow b,
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container .select2-selection--single .select2-selection__arrow:after,
.select2-container--default .select2-selection--single .select2-selection__arrow:after {
  content: "\f107";
  /* "Three Line Menu Navicon" shows up */
  display: block;
  width: 50px;
  height: 16px;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  z-index: 1;
  line-height: 16px;
  font-size: 16px;
  text-align: center;
  color: #A4A4A4;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}
.select2-container .select2-search--dropdown .select2-search__field,
.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #d7d7d7;
  padding: 0 8px;
  height: 36px;
}
@media (min-width: 1200px) {
  .select2-container .select2-selection--single .select2-selection__rendered,
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
    padding-left: 24px;
  }
  .select2-container .select2-selection--single .select2-selection__arrow,
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 50px;
  }
  .select2-container .select2-selection--single .select2-selection__arrow:after,
  .select2-container--default .select2-selection--single .select2-selection__arrow:after {
    width: 50px;
    font-size: 18px;
  }
  .select2-container .select2-results > .select2-results__options,
  .select2-container--default .select2-results > .select2-results__options {
    font-size: 14px;
  }
  .select2-container .select2-search--dropdown .select2-search__field,
  .select2-container--default .select2-search--dropdown .select2-search__field {
    font-size: 14px;
  }
}
.select2-dropdown {
  border-color: #d7d7d7;
  border-width: 2px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #4f4e4e;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #4f4e4e;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #4f4e4e;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #4f4e4e;
}
.form-group > label {
  color: #2b2b2b;
  padding-bottom: 8px;
  font-size: 16px;
}
.form-group input[type=text],
.form-group input[type=email],
.form-group input[type=password],
.form-group input[type=number],
.form-group input[type=tel],
.form-group input[type=date],
.form-group input[type=time],
.form-group input[type=datetime],
.form-group input[type=datetime-local],
.form-group input[type=url],
.form-group input[type=week],
.form-group input[type=month],
.form-group input[type=search],
.form-group textarea {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #4f4e4e;
}
.form-group input[type=text]:focus,
.form-group input[type=email]:focus,
.form-group input[type=password]:focus,
.form-group input[type=number]:focus,
.form-group input[type=tel]:focus,
.form-group input[type=date]:focus,
.form-group input[type=time]:focus,
.form-group input[type=datetime]:focus,
.form-group input[type=datetime-local]:focus,
.form-group input[type=url]:focus,
.form-group input[type=week]:focus,
.form-group input[type=month]:focus,
.form-group input[type=search]:focus,
.form-group textarea:focus {
  background-color: #fff;
}
.form-group select {
  background-color: #f1f1f1;
  color: #4f4e4e;
}
.form-group .select-style {
  border-color: #f1f1f1;
}
.form-group .select-style:after {
  font-weight: 900;
}
.form-group .select-style select {
  color: #4f4e4e;
}
.form-group input:-internal-autofill-previewed,
.form-group textarea:-internal-autofill-previewed,
.form-group select:-internal-autofill-previewed,
.form-group input:-internal-autofill-selected,
.form-group textarea:-internal-autofill-selected,
.form-group select:-internal-autofill-selected,
.form-group input:-webkit-autofill,
.form-group textarea:-webkit-autofill,
.form-group select:-webkit-autofill,
.form-group input:-webkit-autofill:hover,
.form-group textarea:-webkit-autofill:hover,
.form-group select:-webkit-autofill:hover,
.form-group input:-webkit-autofill:focus,
.form-group textarea:-webkit-autofill:focus,
.form-group select:-webkit-autofill:focus {
  background-color: #f1f1f1 !important;
  border-color: #f1f1f1 !important;
  color: #4f4e4e !important;
}
@keyframes input_background_autofill {
  100% {
    background-color: #f1f1f1;
  }
}
.form-group .select-style {
  background-color: #f1f1f1;
}
.form-group .select-style:after {
  color: #49aea8;
}
.form-group .has-icon .fa-wrapper .icon {
  font-size: 14px;
  color: #49aea8;
}
@media (min-width: 1200px) {
  .form-group {
    margin-bottom: 24px;
  }
  .form-group > label {
    font-size: 18px!important;
  }
  .form-group input[type=text],
  .form-group input[type=email],
  .form-group input[type=password],
  .form-group input[type=number],
  .form-group input[type=tel],
  .form-group input[type=date],
  .form-group input[type=time],
  .form-group input[type=datetime],
  .form-group input[type=datetime-local],
  .form-group input[type=url],
  .form-group input[type=week],
  .form-group input[type=month],
  .form-group input[type=search],
  .form-group textarea,
  .form-group select {
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
  .form-group input,
  .form-group textarea,
  .form-group select {
    font-size: 16px!important;
  }
}
.form-small-note {
  font-size: 12px;
  font-style: italic;
  color: #5F748F;
  margin: 0.75rem 0 0rem;
}
@media (min-width: 1200px) {
  .form-small-note {
    font-size: 14px;
  }
}
.datepicker-range-wrap .input-wrap + .input-wrap {
  margin-top: 8px;
}
@media (min-width: 540px) {
  .datepicker-range-wrap {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .datepicker-range-wrap .input-wrap {
    width: calc(50% - 8px);
  }
  .datepicker-range-wrap .input-wrap + .input-wrap {
    margin-top: 0;
  }
  .datepicker-range-wrap .input-wrap + .input-wrap:before {
    content: "-";
    font-size: 20px;
    text-align: center;
    width: 16px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: -16px;
  }
}
@media (min-width: 1200px) {
  .datepicker-range-wrap .input-wrap {
    width: calc(50% - 10px);
  }
  .datepicker-range-wrap .input-wrap + .input-wrap {
    margin-top: 0;
  }
  .datepicker-range-wrap .input-wrap + .input-wrap:before {
    width: 20px;
    left: -20px;
  }
}
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single {
  background-color: #f1f1f1;
}
.select2-container .select2-selection--single .select2-selection__arrow:after,
.select2-container--default .select2-selection--single .select2-selection__arrow:after {
  color: #49aea8;
  font-weight: 900;
}
.select2-container .select2-results > .select2-results__options,
.select2-container--default .select2-results > .select2-results__options {
  color: #2b2b2b;
}
.select2-container .select2-search--dropdown .select2-search__field,
.select2-container--default .select2-search--dropdown .select2-search__field {
  background-color: #f1f1f1;
  color: #2b2b2b;
}
@media (min-width: 1200px) {
  .select2-container .select2-selection--single .select2-selection__rendered,
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
  }
  .select2-container .select2-results > .select2-results__options,
  .select2-container--default .select2-results > .select2-results__options {
    font-size: 16px;
  }
  .select2-container .select2-search--dropdown .select2-search__field,
  .select2-container--default .select2-search--dropdown .select2-search__field {
    font-size: 16px;
  }
}
